
@{
    ViewBag.Title = "注册";
}

<!DOCTYPE html>
<thml>
    <head>
        <meta charset="utf-8" />
        <title>注册</title>
        <style type="text/css">
            .boder {
                width: auto;
                height: 200px;
                border: 1px white solid;
                margin-top: 25px;
            }

            .margin-letft {
                margin-left: 20%;
            }

            .iptusername {
                width: 60%;
                margin-top: 3px;
            }
        </style>
    </head>
    <body>
        <div style="border:1px white solid;height:20%; margin-top:25PX;">
        </div>
        <boder class="boder">
            <div class="margin-letft"><h5><b>注册</b></h5></div>
            <div class="margin-letft" style="font-size:11px;margin-top:10px"><b>用户名：</b></div>
            <div class="margin-letft"><input class="iptusername" placeholder="输入用户名" /></div>
            <div class="margin-letft" style="font-size:11px;margin-top:10px"><b>密码：</b></div>
            <div class="margin-letft"><input type="password" class="iptusername" placeholder="密码" /></div>
            <div class="margin-letft" style="font-size:11px;margin-top:10px"><b>确认密码：</b></div>
            <div class="margin-letft"><input type="password" class="iptusername" placeholder="确认密码" /></div>
            <div class="margin-letft" style="font-size:11px;margin-top:10px"><b>邮箱：</b></div>
            <div class="margin-letft"><input type="email" class="iptusername" placeholder="E-mail" /></div>
            
            <div class="margin-letft"><button style="background-color:#2abd54;width:70px;height:30px; margin-top:10px;">注册</button></div>
            
        </boder>
    </body>
</thml>