
@{
    ViewBag.Title = "新建主题";
}

<!DOCTYPE html>
<thml>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <script type="text/javascript" charset="utf-8" src="~/Content/Ueditor/ueditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="~/Content/Ueditor/ueditor.all.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="~/Content/Ueditor/lang/zh-cn/zh-cn.js"></script>


        <style type="text/css">
            .ueditor {
                width: 100%;
            }
            .newinput {
              max-width:720px;  
            }
        </style>

    </head>
     <body>
         <div style="border:0px red solid;height:20%; margin-top:20PX;">

         </div>
         <div class="ueditor">
             <h4><b>新建主题</b></h4>
         </div>
         <div class="ueditor">
             <span>标题:</span>      
         </div>
         <div class="ueditor" style="border:0px solid red">
             <input class="newinput" style="width:100%;height:auto;" />
         </div>
         <div class="ueditor">
             <span>分类:</span>
         </div>
         <div class="ueditor">
             <input class="newinput"  style="width:100%;height:auto;" list="classlist"/>
             <datalist id="classlist">
                 <option value="Example Category">Example Category</option>
                 <option value="123">123</option>
             </datalist>
         </div>

         <div class="ueditor">
             <span>标签:</span>
         </div>
         <div style="width:100%">
             <input class="newinput" style="width:100%;height:auto;" />
         </div>
         <div class="ueditor">
         <script id="editor" type="text/plain" style="width:auto;height:auto;">
         </script>
         </div>
         <div class="ueditor">
             <input type="button" value="新建主题" style="width:100%;height:auto;background-color:#2abd54" />
         </div>
     </body>
</thml>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
</script>

